$ git clone ssh://git@stash.devlan.net:7999/~User #524297/git-prune-files.git
$ sudo cp git-prune-files/git-prune-files /usr/bin
$ sudo chmod +x /usr/bin/git-prune-files

# Change to your project directory
$ cd ~/projects/my-git-project

# Remove the relevant files
$ git-prune-files static/images
